Client/Connected Services/CheckersServiceReference/item2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/CheckersService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/CheckersService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserAlreadyLoginFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usrName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserAlreadyLoginFault" nillable="true" type="tns:UserAlreadyLoginFault" />
  <xs:complexType name="UserNotExistsFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usrName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserNotExistsFault" nillable="true" type="tns:UserNotExistsFault" />
  <xs:complexType name="WrongPasswordFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="usrName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="WrongPasswordFault" nillable="true" type="tns:WrongPasswordFault" />
  <xs:complexType name="UserNameAlreadyExistsFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserNameAlreadyExistsFault" nillable="true" type="tns:UserNameAlreadyExistsFault" />
  <xs:simpleType name="Status">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Unfinished" />
      <xs:enumeration value="OneWon" />
      <xs:enumeration value="TwoWon" />
      <xs:enumeration value="isTie" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Status" nillable="true" type="tns:Status" />
  <xs:complexType name="GameIdNotExistsFault">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="gameId" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameIdNotExistsFault" nillable="true" type="tns:GameIdNotExistsFault" />
  <xs:simpleType name="Mode">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Lobby" />
      <xs:enumeration value="Watching" />
      <xs:enumeration value="Playing" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Mode" nillable="true" type="tns:Mode" />
  <xs:simpleType name="Result">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Win" />
      <xs:enumeration value="Lost" />
      <xs:enumeration value="Tie" />
      <xs:enumeration value="Continue" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Result" nillable="true" type="tns:Result" />
</xs:schema>