Client/Connected Services/CheckersServiceReference/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/System" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/System" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CheckersService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CheckersService" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CheckersService/Service1/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ValueTupleOfintStatusdateTimebooleanintstringstringcL5AZO_S0">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{2}{3}{4}{5}{6}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="Status" Namespace="http://schemas.datacontract.org/2004/07/CheckersService" />
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:int" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CheckersService" name="Item2" type="q1:Status" />
      <xs:element name="Item3" type="xs:dateTime" />
      <xs:element name="Item4" type="xs:boolean" />
      <xs:element name="Item5" type="xs:int" />
      <xs:element name="Item6" nillable="true" type="xs:string" />
      <xs:element name="Item7" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfintStatusdateTimebooleanintstringstringcL5AZO_S0" nillable="true" type="tns:ValueTupleOfintStatusdateTimebooleanintstringstringcL5AZO_S0" />
  <xs:complexType name="ValueTupleOfintstringboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{2}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:int" />
      <xs:element name="Item2" nillable="true" type="xs:string" />
      <xs:element name="Item3" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfintstringboolean" nillable="true" type="tns:ValueTupleOfintstringboolean" />
  <xs:complexType name="ArrayOfValueTupleOfintdateTimeValueTupleOfintintintstringdZZoPUbq">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValueTupleOfintdateTimeValueTupleOfintintintstringdZZoPUbq" type="tns:ValueTupleOfintdateTimeValueTupleOfintintintstringdZZoPUbq" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValueTupleOfintdateTimeValueTupleOfintintintstringdZZoPUbq" nillable="true" type="tns:ArrayOfValueTupleOfintdateTimeValueTupleOfintintintstringdZZoPUbq" />
  <xs:complexType name="ValueTupleOfintdateTimeValueTupleOfintintintstringdZZoPUbq">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{2}{3}{4}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System">
            <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
            <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          </GenericParameter>
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:int" />
      <xs:element name="Item2" type="xs:dateTime" />
      <xs:element name="Item3" type="tns:ValueTupleOfintint" />
      <xs:element name="Item4" type="xs:int" />
      <xs:element name="Item5" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfintdateTimeValueTupleOfintintintstringdZZoPUbq" nillable="true" type="tns:ValueTupleOfintdateTimeValueTupleOfintintintstringdZZoPUbq" />
  <xs:complexType name="ValueTupleOfintint">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:int" />
      <xs:element name="Item2" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfintint" nillable="true" type="tns:ValueTupleOfintint" />
  <xs:complexType name="ArrayOfValueTupleOfintstringstringStatusdateTimepGnIEWfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ValueTupleOfintstringstringStatusdateTimepGnIEWfo" type="tns:ValueTupleOfintstringstringStatusdateTimepGnIEWfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfValueTupleOfintstringstringStatusdateTimepGnIEWfo" nillable="true" type="tns:ArrayOfValueTupleOfintstringstringStatusdateTimepGnIEWfo" />
  <xs:complexType name="ValueTupleOfintstringstringStatusdateTimepGnIEWfo">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ValueTupleOf{0}{1}{2}{3}{4}{#}" Namespace="http://schemas.datacontract.org/2004/07/System" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="int" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="string" Namespace="http://www.w3.org/2001/XMLSchema" />
          <GenericParameter Name="Status" Namespace="http://schemas.datacontract.org/2004/07/CheckersService" />
          <GenericParameter Name="dateTime" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Item1" type="xs:int" />
      <xs:element name="Item2" nillable="true" type="xs:string" />
      <xs:element name="Item3" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CheckersService" name="Item4" type="q2:Status" />
      <xs:element name="Item5" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ValueTupleOfintstringstringStatusdateTimepGnIEWfo" nillable="true" type="tns:ValueTupleOfintstringstringStatusdateTimepGnIEWfo" />
</xs:schema>