Client/Connected Services/CheckersServiceReference/item1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CheckersService/Service1/?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Windows" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CheckersService/Service1/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CheckersService" />
  <xs:import schemaLocation="http://localhost:8733/Design_Time_Addresses/CheckersService/Service1/?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:element name="Connect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usrName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashedPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ConnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Register">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="hashedPassword" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegisterResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Disconnect">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usrName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="numGame" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DisconnectResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="GameId" type="xs:int" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Windows" minOccurs="0" name="correntPos" type="q1:Point" />
        <xs:element minOccurs="0" name="indexPath" type="xs:int" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CheckersService" minOccurs="0" name="result" type="q2:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MakeMoveResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="user" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="isVsCPU" type="xs:boolean" />
        <xs:element minOccurs="0" name="boardSize" type="xs:int" />
        <xs:element minOccurs="0" name="EatMode" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="JoinGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="JoinGameResult" type="q3:ValueTupleOfintstringboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWatchGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartWatchGameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="StartWatchGameResult" type="q4:ValueTupleOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseUnFinishedGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GameId" type="xs:int" />
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="sendMsg" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseUnFinishedGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMoves">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="gameId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllMovesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetAllMovesResult" nillable="true" type="q5:ArrayOfValueTupleOfintdateTimeValueTupleOfintintintstringdZZoPUbq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Ping">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopWaitingGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="boardSize" type="xs:int" />
        <xs:element minOccurs="0" name="eatMode" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StopWaitingGameResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGames">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="liveMode" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetGamesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetGamesResult" nillable="true" type="q6:ArrayOfValueTupleOfintstringstringStatusdateTimebooleanintiYHbegs4" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GameMoveRegonizer">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GameMoveRegonizerResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GameMoveRegonizerResult" type="q7:ValueTupleOfGameMoveJ8dbTJWT" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SendOpponentMove">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/System.Windows" minOccurs="0" name="correntPos" type="q8:Point" />
        <xs:element minOccurs="0" name="indexPath" type="xs:int" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CheckersService" minOccurs="0" name="result" type="q9:Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StartGame">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GameId" type="xs:int" />
        <xs:element minOccurs="0" name="OpponentName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="MyTurn" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CloseTheGame">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetworkDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetNetworkDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="GetNetworkDetailsResult" type="q10:ValueTupleOfstringint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PingClient">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PingClientResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PingClientResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>